.loginCard {
  margin-top: 10%;
}

.customColumn {
  width: 695px;
  height: 975px;
}

.overflow {
  overflow-y: auto;
}

.headerCss {
  background-color: #34495E;
  color : #ffffff;
  height: 60px;
  font-family: "Berlin Sans FB Demi";
}

.signOutBtn {
  position: absolute;
  right: 0.5%;
  margin-top: 0.25%;
}

.timeButton {
  width: 200px;
  height: 50px;
}

.customCardHeight {
  height: 925px;
}

.customTextFont {
  font-family: "Bell MT";
}

.customModalButton {
  width: 300px;
  height: 50px;
}

.fullPageLoadingCss {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F8F8F8AD;
}

.innerLoaderCss {
  position: absolute;
  left:43%;
  top:15%;
  z-index: 1000;
}

.successText {
  margin-top: 2%;
  margin-left: 36%;
  font-family: "Bell MT";
}

.exitButton {
  margin-top: 2%;
  margin-left: 39%;
  width: 20%;
}

.otherButton {
  margin-top: 2%;
  margin-left: 39%;
  width: 20%;
}

.successTable {
  margin-top: 20%;
  margin-left: -3%;
}

.customTable {
  margin-top: 3%;
}

.customPatientTableTitle {
  font-family: "Bell MT";
  margin-top: 5%;
}

.otherAppointments {
  margin-left: 47%;
}